body{
    background-color: rgb(181, 125, 233);
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h1{
    position: relative;
    top: 2em;
    text-align: center;
}


.contact-us{
    top: 5em;
    position: relative;
    margin: 0;
}
label{
    display: block;  
    font-size: 1.2em;
    text-align: left;
}


input, textarea{
    outline: 0;
    border-width: 0 0 2px;
    width: 70%;
    padding: .8em;
    margin-bottom: 2em;
    border-color: blueviolet;
    background-color: rgb(236, 236, 236);
}

input[type="submit"]{
    color: white;
    background-color: blueviolet;
    border-radius: 1em;
    margin: 1em;
    padding: .5em;
    cursor: pointer;
    font-size: 16pt;
}

input[type="submit"]:hover{
    background-color: rgb(160, 91, 224);
}

.contact-us{
    padding: 2em;
    background-color: rgb(236, 236, 236);
    width: 60%;
    text-align: center;
    margin: auto;
    border-radius: 25px;
}